#header
    width: 18rem
    height: 100vh
    display: flex
    position: absolute
    margin-left: -14rem
    background-color: red
    justify-content: space-between

    .menu
        width: 100%
        background-color: orange

    .btn
        color: #fff
        cursor: pointer
        font-size: 2rem
        height: fit-content
        padding: .5rem 1rem
        background-color: orange